node_modules
.DS_Store
*.local
backend/config.json
backend/*.exe
backend/testdata/*.docx
backend/testdata/*.json
backend/unidoc.license
dist/

# Electron build output
dist-win
out
*.exe
!backend/*.exe
